<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} SuscripcionesWeb {% endblock %}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/font/icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/sendemail.css' %}">
</head>
<body>
	<main>
		<header>
			<div class="row">
				<div class="col s12 center">
					<h1 class="display-2"> Suscripciones web </h1>
					<p>Solo suscribete para recibir buenos contenidos. <i class="material-icons">mail</i></p>
				</div>
			</div>
		</header>

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'materialize/js/materialize.min.js' %}"></script>

		{% block js %} {% endblock %}
	</main>
</body>
</html>