<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Suscripción exitosa!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main>
    <h2>Enhorabuena <strong>{{ user.email }}</strong>!</h2>
    <p>Tu suscripción se hecho exitosamente!
    Ahora podrás recibir notificaciones cada vez que publiquemos nuevos contenidos.
    </p>
  </main>
</body>
</html>
