{% extends 'base/base.html' %}

{% block title %} {{ block.super }} | Home {% endblock %}

{% block content %}
<div class="row">
	<div class="col s12">
		<article class="card">
			<div class="card-content">
				<h3 class="card-title"> Suscribete! <i class="material-icons left medium">person_add</i></h3>
			</div>
			<div class="card-content">
				<form method="POST" action=""> {% csrf_token %}
					<div class="input-field">
						<input type="text" name="username" id="username" value="{{ form.username.value }}">
						<label for="username">Usuario</label>
						{% include 'users/errors-field.html' with field=form.username %}
					</div>
					<div class="input-field">
						<input type="email" name="email" id="email" value="{{ form.email.value }}">
						<label for="email">Correo</label>
						{% include 'users/errors-field.html' with field=form.email %}
					</div>
					<div class="input-field">
						<input type="password" name="password1" id="password">
						<label for="password">Contraseña</label>
						{% include 'users/errors-field.html' with field=form.password1 %}
					</div>
					<div class="input-field">
						<input type="password" name="password2" id="password2">
						<label for="password2">Confirmar (Contraseña)</label>
						{% include 'users/errors-field.html' with field=form.password2 %}
					</div>
					<button type="submit" class="btn primary">Listo! <i class="material-icons right">send</i></button>
				</form>
			</div>
		</article>
	</div>
</div>
{% endblock %}