{% extends 'base/base.html' %}

{% block title %} {{ block.super }} | Listo! {% endblock %}

{% block content %}
<div class="row">
	<div class="col s12">
		<article class="card">
			<div class="card-content">
				<h4 class="card-title green-text"> Enhorabuena!</h4>
				<p>Te haz suscrito exitosamente en nuestra sitio web. Ahora solo tienes que esperar que te lleguen los contenidos!</p>
			</div>
			<div class="card-action">
				<a href="{% url 'users:home' %}" class="btn primary">Atrás <i class="material-icons right">arrow_back</i></a>
			</div>
		</article>
	</div>
</div>
{% endblock %}